<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLib!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>A Glorious Maiden Voyage</h1>
    <h5>On an @Model.Adjective morning in July, the S.S. @Model.Name set sail from place on her maiden voyage. The @Model.Number-ton, @Model.Color painted vessel is scheduled to land in @Model.Place after an @Model.AdjectiveTwo trip. @Model.FamousPerson christened the S.S. @Model.Name with a bottle of @Model.Noun smashed over her bow while singing name of a @Model.Song to a cheering crowd. The S.S. @Model.Name is the first ship to @Model.Verb through water, powered by pure abstract @Model.AbstractNoun. Her crew of @Model.AdjectiveThree @Model.PluralNoun eagerly awaits the results of their historic journey.</h5>

  </body>
</html>